@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://i.ytimg.com/vi/mUYfkEC1Meg/maxresdefault.jpg");
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

#answers {
  text-align: center;
  position: relative;
  top: 75px;
}

#answer {
  text-align: center;
  position: relative;
  top: 75px;
}

#input, #submit, #next {
  font-size: 20px;
  border-radius: 5px;
}

#math {
  position: relative;
  top: 50px;
  text-align: center;
}

#header {
  font-size: 55px;
  font-family: 'Arial';
}

#level {
  position: fixed;
  top: 0;
  color: red;
}

#score {
  position: fixed;
  top: 35px;
}

#info {
  position: fixed;
  bottom: 5px;
}

#help {
  position: fixed;
  right: 0px;
  top: 45px;
  font-size: 20px;
  width: 85px;
}

#timeleft {
  position: fixed;
  top: 5px;
  right: 0;
  color: white;
}